<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SYMFONY 6</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                {# <li class="nav-item">
                    <a class="nav-link" href="{{path('app_produits')}}">PRODUITS</a>
                </li> #}
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('app_home')}}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_location')}}">Poster Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_consult_ads')}}">Consulter Annonces</a>
                </li>
                
            </ul>
            <form class="d-flex">
                <a href="" class="btn btn-warning mx-3">Inscription</a>
                {% if app.user %}
                <a href="" class="btn btn-danger">Deconnexion</a>
                {% else %}
                <a href="" class="btn btn-info mx-3">Connexion</a>
                {% endif %}
            </form>
            {# <form class="d-flex">
                <a href="{{path('app_register')}}" class="btn btn-warning mx-3">Inscription</a>
                {% if app.user %}
                <a href="{{path('app_logout')}}" class="btn btn-danger">Deconnexion</a>
                {% else %}
                <a href="{{path('app_login')}}" class="btn btn-info mx-3">Connexion</a>
                {% endif %}
            </form> #}
        </div>
    </div>
</nav>