{% extends 'base.html.twig' %}

{% block title %}{{ ad.title }} à {{ ad.city.name }}{% endblock %}

{% block body %}
    
    <h3>{{ ad.title }} à {{ ad.city.name }}</h3> 
     <p>{{ ad.text }}</p> 
     {% if ad.price %} 
        <p>Prix : {{ ad.price }} € </p>
     {% else %}
        <p>Prix : Non Renseigné</p>
     {% endif %}
    
    <div id="imageContainer" class="img-container by-id">
        {% for photo in photos %}
            <img src="{{ asset('img/' ~ photo.name)}}" alt="" class="img-ad card-img-top mt-3">   
        {% endfor %}
    </div>
    <div id="popup">
        <div id="prevArrow" class="arrow" onclick='prevImage()'>&lt;</div>
        <div id="popupImageContainer"></div>
        <div id="nextArrow" class="arrow" onclick='nextImage()'>&gt;</div>
    </div>
    {% if app.user %}
        <a href="{{ path('app_sendMessage', {'adId': ad.id }) }}" class="btn btn-primary bg-dark btn-send-message"> Contactez l'annonceur<a/>
    {% else %}
        <div id="errorMessage" class="alert alert-danger"> 
            <p>Veuillez vous connecter pour contacter l'utilisateur.</p>
            <a href="/login" class="btn btn-info mx-3">Login</a>
        </div>
        
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src= "{{asset('js/adById.js')}}"></script>
{% endblock %}