{# templates/ads/all_ads.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Toutes les annonces{% endblock %}

{% block body %}
    <h1>Toutes les annonces</h1>

    {# Filtre par département #}
    <form method="get">
        <label for="department">Filtrer par département :</label>
        <select name="department" id="department">
            <option value="">Tous les départements</option>
            {% for department in departments %}
                <option value="{{ department.number }}" {% if department.number == selectedDepartment %}selected{% endif %}>
                    {{ department.number }} - {{ department.name }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filtrer</button>
    </form>

    {% if ads is empty %}
        <p>Aucune annonce pour votre requête.</p>
    {% else %}
        <ul class= "list-ads">
           {% for ad in ads %}
                <li class="each-ad">
                <div class="text-content">
                    <h3>{{ ad.title }}</h3> 
                    <p>{{ ad.city.name }}</p>
                </div>
                   {% for photo in ad.photos %}
                    {% if loop.first %}
                     <a href="{{ path('app_consult_ad_by_id', {'id': ad.id}) }}">
                        <div class="img-container img-list">
                            <img src="{{ asset('img/' ~ photo.name)}}" alt="" class="img-ad img-list card-img-top mt-3">   
                        </div>
                    </a>
                        {% endif %}
                   {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}