{% extends 'base.html.twig' %}

{% block title %}Toutes les annonces{% endblock %}

{% block body %}
    <h2>Toutes les annonces</h2>

    <!-- Formulaire de filtres -->
    <form method="get" class="form-filter-ads">
        <input type="hidden" name="token" value="{{ csrf_token('filter_ad_token') }}">
        {# Filtre par département #}
        <div class="form-element block-department">
            <label for="department">Filtrer par département :</label>
            <select name="department" id="department">
                <option value="">Tous les départements</option>
                {% for department in departments %}
                    <option value="{{ department.number }}" {% if department.number == selectedDepartment %}selected{% endif %}>
                        {{ department.number }} - {{ department.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-element block-type">
            {# Filtre par type : Materiel/Terrain/Personne #}
            <label for="type">Filtrer par type :</label>
            <select name="type" id="type">
                <option value="">Tous les types</option>
                {% for type in types %}
                    <option value="{{ type.id }}" {% if type.id == selectedType %}selected{% endif %}>
                        {{ type.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-element block-transaction">
            {# Filtre par transaction : vente/loc/service #}
            <label for="transaction">Filtrer par transaction :</label>
            <select name="transaction" id="transaction">
                <option value="">Toutes les transactions</option>
                {% for transaction in transactions %}
                    <option value="{{ transaction.id }}" {% if transaction.id == selectedTransaction %}selected{% endif %}>
                        {{ transaction.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-element block-status">
            {# Filtre par Status : Disponnible / Proposition #}
            <label for="status">Filtrer par recherche :</label>
            <select name="status" id="status">
                <option value="">Proposition/Recherche</option>
                {% for stat in status %}
                    <option value="{{ stat.id }}" {% if stat.id == selectedStatus %}selected{% endif %}>
                        {{ stat.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-element block-price">
            <label for="minPrice">Prix minimum :</label>
            <input type="number" name="minPrice" id="minPrice" min="0" placeholder="Min" value="{{ selectedMinPrice }}">
        </div>
        <div class="form-element block-price">
            <label for="maxPrice">Prix maximum :</label>
            <input type="number" name="maxPrice" id="maxPrice" min="0" placeholder="Max" value="{{ selectedMaxPrice }}">
        </div>
        
        <button type="submit" class="btn btn-primary bg-dark">Filtrer</button>
    </form>

    <!-- Annonces -->
    {% if ads is empty %}
        <p>Aucune annonce pour votre requête.</p>
    {% else %}
        <ul class= "list-ads">
            {% for ad in ads %}
                <a href="{{ path('app_consult_ad_by_id', {'id': ad.id}) }}" class="each-ad">
                    <div class="text-content">
                        <h3>{{ ad.title }}</h3> 
                        <p> crée par {{ ad.user.pseudo }} </p>
                            <p class='created-ad'> le {{ ad.createdAt|date('d/m/Y') }} à  {{ ad.createdAt|date('H:i:s') }}</p>
                            <p class='city-name'> à {{ ad.city.name|capitalize }}</p>
                        
                        {% if ad.type is not null %}
                            <p class="type"> Type : {{ ad.type.name }} </p>
                        {% endif %}
                        {% if ad.status is not null %}
                            <p class="status"> Status : {{ ad.status.name }} </p>
                        {% endif %}
                        {% if ad.transaction is not null %}
                            <p class="transaction"> Transaction : {{ ad.transaction.name }}</p>
                        {% endif %}
                        {% if ad.price is not null %}
                            <p class="price">Prix : {{ ad.price }} €</p>
                        {% endif %}
                    </div>
                    {% for photo in ad.photos %}
                        {% if loop.first %}
                            <div class="img-container img-list">
                                <img src="{{ asset('img/' ~ photo.name)}}" alt="" class="main-img-ad img-list card-img-top mt-3">   
                            </div>
                        {% endif %}
                    {% endfor %}
                </a>
            {% endfor %}
        </ul>
        
    <!-- Pagination avec prise en compte des filtres -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% for pageNumber in 1..totalPages %}
                <li class="page-item {% if currentPage == pageNumber %}active{% endif %}">
                    <a class="page-link" href="{{ path('app_consult_ads', {
                        'page': pageNumber,
                        'department': selectedDepartment,
                        'type': selectedType,
                        'status': selectedStatus,
                        'transaction': selectedTransaction,
                        'minPrice': selectedMinPrice,
                        'maxPrice': selectedMaxPrice
                    }) }}">{{ pageNumber }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}
