{# templates/ads/all_ads.html.twig #}

{% extends 'base.html.twig' %}
  {% block javascripts %}
    <script src= "{{asset('js/location.js')}}"></script>
    {% endblock %}
{% block title %}Toutes les annonces{% endblock %}

{% block body %}
    <h1>Toutes les annonces</h1>

    {# Filtre par département #}
    <form method="get">
        <label for="department">Filtrer par département :</label>
        <select name="department" id="department">
            <option value="">Tous les départements</option>
            {% for department in departments %}
                <option value="{{ department.number }}" {% if department.number == selectedDepartment %}selected{% endif %}>
                    {{ department.number }} - {{ department.name }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filtrer</button>
    </form>

    {% if ads is empty %}
        <p>Aucune annonce pour votre requête.</p>
    {% else %}
        <ul>
           {% for ad in ads %}
                <li>
                    <h3>{{ ad.title }}</h3> 
                    <p>{{ ad.text }}</p> 
                    <p>{{ ad.city.name }}</p>
                   {% for photo in ad.photos %}
                     <div class="img-container img-list">
                        <img src="{{ asset('img/' ~ photo.name)}}" alt="" class="img-ad img-list card-img-top mt-3">   
                    </div>
                   {% endfor %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}