{% extends 'base.html.twig' %}

{# templates/ads/index.html.twig #}
{% block javascripts %}
    <script src= "{{asset('js/location.js')}}"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{asset('css/location.css')}}"/>
{% endblock %}

{% block title %}
    Liste des Départements
{% endblock %}

{% block body %}
   
        <h1>Postez votre annonce</h1>
        <div class="post-ad-main">
            <div class="department-choice">
                <label for="departments">Choose a department:</label>
                <select id="departments" name="departments">
                    {% for department in departments %}
                        <option value="{{ department.number }}">{{ department.number }} - {{ department.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <p id= "selectedDepartment"></p>
            <div class="city-choice">
                <label for="citySearch">Search for a city:</label>
                <input type="text" id="citySearch" name="citySearch">
            </div>

            
            <div id="userLoggedIn" data-logged-in="{{ userLoggedIn ? 'true' : 'false' }}"></div>
               {# Div pour afficher le message d'erreur, cachée par défaut #}
            <div id="errorMessage" class="alert alert-danger" style="display: none;">
                Veuillez vous connecter pour accéder à cette fonctionnalité.
            </div>

        <div id="citiesList"></div>
        </div>
    </div>

{% endblock %}
