{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block body %}

    {% if userAds is empty %}
        <p>Aucune annonce pour le compte de {{ user.email }}</p>
    {% else %}

        {% for ad in userAds %}
        <div class="each-user-ad">
            <h3>{{ ad.title }}</h3> 
            <p>à : {{ ad.city.name }}</p>
         
            {% for photo in ad.photos %}
          
                <div class="img-container img-list">
                    <img src="{{ asset('img/' ~ photo.name)}}" alt="" class="img-ad img-list card-img-top mt-3">   
                </div>
            {% endfor %}
            {% if ad.id is defined %}
                <div class="buttons-dl-up">
                <button class="btn btn-success"><a href="{{ path('app_ad_edit', {'adId': ad.id}) }}">Modifier l'annonce</a></button>
                    <button type="button" class="btn btn-danger btn-delete-ad" data-ad-id="{{ ad.id }}">Supprimer l'annonce</button>
                </div>
            {% endif %}    
        </div>     
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script src= "{{asset('js/photos.js')}}"></script>
    <script src= "{{asset('js/deleteAd.js')}}"></script>
{% endblock %}