
{% extends 'base.html.twig' %}

{% block body %}
    <h2>Conversation pour l'annonce :</h2>
    <h3>{{conversation.ad.title}}</h3>
      
    {% for message in messages|reverse %}
      
         <div class="message-id-{{ message.id }} each-message-conv">
             {% if message.receiver != app.user %}
             <div class="received-message">
                <p>Message de MOI à {{ message.receiver.pseudo }} </p>
                <p>Objet : {{ message.title }}</p>
                <p>Message : {{ message.text }}</p>
                <p>Envoyé le : {{ message.createdAt|date('d/m/Y à H:i') }}</p>
            </div>
            {% else %}
            <div class="sent-message">
                <p>Message de {{ message.sender.pseudo }} </p>
                <p>Objet : {{ message.title }}</p>
                <p>Message : {{ message.text }}</p>
                <p>Envoyé le : {{ message.createdAt|date('d/m/Y à H:i') }}</p>
                <p class='message-not-read' {% if message.isRead %} style="display: none;" {% endif %}>
                Message Non Lu <i class="far fa-envelope" style="color: red;"></i>
                </p>
                <p class='message-read' {% if not message.isRead %} style="display: none;" {% endif %}>Message lu <i class="fas fa-check-circle" style="color: green;"></i></p>
                {% if not message.isRead %}<button class="mark-as-read" data-message-id="{{ message.id }}">Marquer comme lu</button> {% endif %}
                   <a href="{{ path('app_sendMessage', {'adId': message.ad.id, 'messageId': message.id}) }}" class="btn btn-primary bg-dark">Répondre</a>
            {% endif %}
        </div>

    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/markAsRead.js') }}"></script>
    <script src="https://kit.fontawesome.com/f924bf4e1d.js" crossorigin="anonymous"></script>
{% endblock %}
